[Desktop Entry]
Categories=Network;FileTransfer;P2P;Qt;
Exec=/run/wrappers/bin/doas /home/djwilcox/bin/namespace qbittorrent %U
GenericName=BitTorrent client
Comment=Download and share files over BitTorrent
Icon=qbittorrent
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Name=qBittorrent-vpn
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=qbittorrent
Keywords=bittorrent;torrent;magnet;download;p2p;
SingleMainWindow=true
