[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/run/wrappers/bin/doas /home/djwilcox/bin/namespace transmission-gtk %u
Name=Transmission-VPN
StartupNotify=true
Terminal=false
